<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/product2/product2.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link active" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="pro-wrap">
  <div class="container">
    <div class="title-nav">
      <a class="" href="../product/product.html">项目介绍</a>
      <a class="active" href="../product2/product2.html">活动目的</a>
      <a class="" href="../product3/product3.html">活动特色</a>
      <a class="" href="../product4/product4.html">活动地点</a>
      <a class="" href="../product5/product5.html">服务标准</a>
      <a class="" href="javascript:void(0);">在线预约</a>
    </div>
    <div class="title-wrap">
      <div class="title ">
        <div class="til">国内科研</div>
        <div class="text">Lorem ipsum dolor amet</div>
        <span class="l-icon"></span>
        <span class="r-icon"></span>
      </div>
      <div class="tip">
        圣知教育已顺利跟进确定了与北京XX家中科院研究所（例如计算机所、自动化所、生物所、物理所、心理研究所、生命科学研究所等）的13个学科大类的学术科研实习或工作实习机会，这13个可参与实习的学科大类分别为：计算机类、自动化类、机械及设计类、物理类、化学类、生物类、理论数学类、应用数学类、空间科学类、生命科学类、心理学类、地理类及交叉学科等。
      </div>
    </div>
  </div>
  <div class="character">
    <div class="container">
      <div class="title">
        <div class="text">成果收获</div>
        <div class="tip">PARTNERS</div>
      </div>
      <ul class="list clearfix">
        <li class="float-left">
          <img src="../../dist/img/product2/character_01.png" alt="">
          <div class="title">权威机构</div>
          <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然科学与高技术综合研究发展中心</div>
        </li>
        <li class="float-left">
          <img src="../../dist/img/product2/character_02.png" alt="">
          <div class="title">学科齐全</div>
          <div class="text">北京地区几十家中科院研究所，包含计算机所、自动化所、生物所、物理所、心理研究所、生命科学研究所等在内覆盖13个学科大类</div>
        </li>
        <li class="float-left">
          <img src="../../dist/img/product2/character_03.png" alt="">
          <div class="title">课题丰富</div>
          <div class="text">近百科研课题，你想要的，我们都有</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="subject">
    <div class="title">
      <div class="container">
        目前现有成型的学生可参与科研项目主题有近百个，项目涉及方向非常全面，可以基本满足目前就读理科、工科、商科、医学和社科专业的大部分学生科研或实习需求，下面从现有13个学科大类的科研实习项目中选一些向学生们举例介绍下：
      </div>
    </div>
    <div class="list-wrap">
      <div class="container">
        <ul class="list clearfix">
          <li>
            <div class="til">计算机类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
          <li>
            <div class="til">空间科学类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
          <li>
            <div class="til">自动化类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
          <li>
            <div class="til">心理学类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
          <li>
            <div class="til">生命科学类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
          <li>
            <div class="til">化学类科研</div>
            <div class="text">中国科学院，为中国自然科学最高学术机构、科学技术最高咨询机构、自然。</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="container">
      <div class="title">
        <div class="text">中科院科研领航计划</div>
        <div class="tip">Lorem ipsum dolor amet</div>
      </div>
      <img class="cont" src="../../dist/img/product2/plan.png" alt="">
    </div>
  </div>
  <div class="more-info ">
    <div class="container clearfix">
      <div class="float-left">
        <div class="til">欢迎免费获取更多信息</div>
        <div class="tip">丰富自身科研活动经历和深度体验，学生可根据实际<br>需求，自主选择是否需要推荐信。</div>
      </div>
      <div class="float-right">
        <a class="opts-btn" href="javascript:void(0);">深入了解更多信息</a>
        <a class="opts-btn" href="javascript:void(0);">010-666-8888</a>
      </div>
    </div>
  </div>
</div>


<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<!-- footer end -->
<script src="../../dist/js/product2/product2.min.js"></script>
</body>
</html>