<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="./img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button"">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="./img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button"">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="./img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="./img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="./img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<div class="beian">© 北京圣知教育有限公司 2019  All rights reserved</div>
<!-- footer end -->

<style>

/*
 * footer 样式
 */
 .footer {
  padding-top: 90px;
  background-color: #2D2D2D;
}

.footer .footer-brand {
  margin-bottom: 60px;
}


.footer .footer-qrcode {
  float: left;
  width: 120px;
  padding-right: 180px;
  box-sizing: content-box;
  border-right: 1px solid #4E4E4E;
}
.footer .footer-qrcode img {
  height: 120px;
  width: 120px;
}
.footer .footer-qrcode p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 18px;
  color: #fff;
}

.footer .sign-info {
  position: relative;
  float: left;
  width: 205px;
  padding-left: 180px;
  box-sizing: content-box;
}
.footer .sign-info-title {
  position: absolute;
  top: -115px;
  color: #fff;
  font-size: 20px;
}
.footer .sign-info input {
  display: block;
  width: 100%;
  border: 1px solid rgba(255,255,255,.9);
  outline: none;
  padding: 4px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius:  3px;
  line-height: 1;
}
.footer .sign-info .button {
  display: block;
  width: 100%;
  border: 1px solid rgba(255,255,255,.9);
  outline: none;
  padding: 5px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  border-radius:  3px;
}
input::-webkit-input-placeholder{
  color:fff;
}
.footer .sign-info input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:fff;
}
.footer .sign-info input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:fff;
}
.footer .sign-info input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:fff;
}


.footer .footer-qrcode-contact {
  float: left;
  width: 120px;
  padding-right: 100px;
  padding-left: 100px;
  box-sizing: content-box;
}
.footer .footer-qrcode-contact img {
  height: 120px;
  width: 120px;
}
.footer .footer-qrcode-contact p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 18px;
  color: #fff;
}

.footer .footer-contact {
  float: left;
}
.footer .footer-contact p{
  margin-bottom: 15px;
  font-size: 22px;
  color: #fff;
  line-height: 1;
}
.footer .footer-contact .button{
  margin-top: 35px;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #638EEA;
  border: 0;
  outline: none;
}



.footer .company-info {
  padding: 10px 0 40px;
  margin-top: 150px;
  border-top: 1px solid #4E4E4E;
  font-size: 0;
}
.footer .company-info li {
  display: inline-block;
  width: 33.33%;
}
.footer .company-info img {
  vertical-align: middle;
  margin-right: 10px;
}
.footer .company-info span {
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

.beian {
  text-align: center;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 14px;
  background: #4E4E4E;
  text-align: center;
}
</style>