<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link active" href="/">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="/">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="/">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="/">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="/">关于圣知</a></li>
    </ul>
  </div>
</div>
<!-- header end -->

<style>
/* header */
.header {
  height: 80px;
  background: rgba(0,0,0,0.60);
}
.header .brand {
  display: inline-block;
  height: 80px;
  padding-left: 70px;
  padding-top: 20px;
  background: no-repeat transparent url(https://picsum.photos/60/35?image=1) left center;
}
.header .brand .brand-name {
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 8px;  
}
.header .brand .brand-name-en {
  color: #fff;
  font-size:12px;
}

.header .menu {
  float: right;
}
.header .menu .menu-item {
  display: inline-block;
}
.header .menu .menu-item + .menu-item {
  padding-left: 50px;
}
.header .menu .menu-link {
  display: block;
  font-size: 16px;
  color:#fff;
  height: 80px;
  line-height: 80px;
  padding: 0 5px;
}
.header .menu .menu-link:hover {
  border-bottom: 5px solid #fff;
}
.header .menu .menu-link.active {
  border-bottom: 5px solid #fff;
}
</style>