<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <link rel="stylesheet" href="../../dist/css/professorDetail/professorDetail.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育1</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link active" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->

<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="wrap">
  <div class="container">
    <div class="my-breadcrumb">
      <a href="../home/home.html"><span class="iconfont">&#xe633;</span>首页<span class="iconfont">&#xe720;</span></a>
      <a class="active" href="../professor/professor.html">教授阵容<span class="iconfont">&#xe720;</span></a>
    </div>
    <div class="context clearfix">
      <div class="float-left user">
        <div class="avatar">
          <img class="img" src="../../dist/img/professor/professor_13_gray.png" alt="">
        </div>
        <div class="name">Prof. Howard</div>
        <div class="school">南加州大学电影艺术学院</div>
        <div class="post">终身教授、前院长</div>
        <div class="info">
          南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
        </div>
      </div>
      <div class="right float-right">
        <a class="return-btn" href="../professor/professor.html"><span class="iconfont">&#xe642;</span><span class="txt">返回</span></a>
        <div class="title">
          <h4>Title:</h4>
          <div>南加大电影艺术学院终身教授、前院长</div>
          <div>南加大电影艺术专业剧本创作研究生项目创办人</div>
          <div>柏林国际电影节蓝熊奖最佳儿童获奖影片编剧</div>
          <div>墨西哥银色女神奖获奖影片编剧</div>
          <div>艾美奖获奖影片（《Rugrats》）编剧</div>
        </div>
        <div class="cont-text">
          <div>Howard教授目前在南加利福尼亚大学艺术学院任职，教授剧本写作相关专业课程。在开启教学职业生涯之前，教授已经积累了多年的剧本创作经验，到现在已经有30年，也获得不少奖项，比如曾获艾美奖获奖影片《Rugrats》编剧、柏林国际电影节蓝熊奖最佳儿童获奖影片编剧以及墨西哥银色女神奖获奖影片编剧。</div>
          <div>在教学方面，Howard教授的跨文化交流经验非常丰富，他曾在许多国家都做过剧本创作相关的课程项目，此前也曾经来过中国，因此不必担心课程中和教授的沟通，教授会非常耐心去引导同学们领悟课堂知识，也非常希望能给中国学生带来最新最前沿的知识。</div>
          <div>本次公开课中，教授简单和大家介绍了暑假3个课题都会涉及到的一个知识点——故事。无论影视艺术、电视艺术还是剧本创作，故事都是基础，故事讲得是否足够精彩和吸引人，关系到电影、电视剧和剧本的好坏。</div>
          <img src="../../dist/img/banner.png" alt="">
          <h5>为什么要“讲故事”</h5>
          <ul>
            <li>其实我们每天都在讲故事，比如讲个笑话给朋友听；不想上班找请假借口；找工作面试……这些时候，我们的讲述中大都包含时间、地点、人物、情节等元素在内，当一个笑话要讲得大家都笑了，说明它的情节非常吸引人。</li>
            <li>影视剧本身就是向大众讲述有声的和具象的故事，而创作这个故事的过程，就是剧本创作。</li>
            <li>剧本创作可以看成一种沟通方式，只是沟通的主角是编剧和观众，他们通过荧幕沟通彼此的观念。好的剧本都能明确表达编剧的观点和想法，传递某种情绪，并能引起观众的共鸣。</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="opts clearfix">
      <a class="btn float-left" href="">&lt;  pro：Prof. Howard 南加州大学电影艺术学院</a>
      <a class="btn float-right" href="">nex: Prof. Howard 南加州大学电影艺术学院  &gt;</a>
    </div>
  </div>
</div>


<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<!-- footer end -->
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<script src="../../dist/js/professorDetail/professorDetail.min.js"></script>
</body>
</html>