<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/professorDetail/professorDetail.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育1</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link active" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="container">
  教授详情
</div>

<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<!-- footer end -->
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<img src="../../dist/img/home/img/qr_code.png" alt="">
<script src="../../dist/js/professorDetail/professorDetail.min.js"></script>
</body>
</html>