
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,0.60);
  transition: all 0.3s ease;
}
.brand {
  display: inline-block;
  height: 80px;
  padding-top: 20px;
  // background: no-repeat transparent url(https://picsum.photos/60/35) left center;
}
.brand .brand-logo {
  display: inline-block;
}
.brand .brand-logo-blue {
  display: none;
}
.brand .brand-name {
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 8px;  
}
.brand .brand-name-en {
  color:#fff;
  font-size:12px;
}

.header .menu {
  float: right;
  position: relative;
}
.header .menu .menu-item {
  display: inline-block;
}
.header .menu .menu-item + .menu-item {
  padding-left: 50px;
}
.header .menu .menu-link {
  color:#fff;
  display: block;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  padding: 0 5px;
}
.header .menu .menu-link:hover {
  // border-bottom: 5px solid #fff;
}
.header .menu .menu-link.active {
  // border-bottom: 5px solid #fff;
}
.header .menu .bottomLine {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100px;
  left: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.light-color {
  background-color: #fff;
  .brand .brand-name {
    color:#333;
  }
  .brand .brand-name-en {
    color:#333;
  }
  .menu .menu-link {
    color:#333;
  }
  .menu .bottomLine {
    background-color: #3864b4;
  }
  .brand-logo {
    display: none;
  }
  .brand-logo-blue {
    display: inline-block;
  }
}