<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/product/product.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      <img class="brand-logo-blue" src="../../dist/img/logo_blue.png" alt="">
      <!-- <p class="brand-name">圣知教育</p> -->
      <!-- <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label> -->
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link active" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="pro-wrap">
  <div class="container">
    <div class="title-nav">
      <a class="active" href="../product/product.html">项目介绍</a>
      <a href="../product2/product2.html">活动目的</a>
      <a href="../product3/product3.html">活动特色</a>
      <a href="../product4/product4.html">活动地点</a>
      <a href="../product5/product5.html">服务标准</a>
      <a href="javascript:void(0);">在线预约</a>
    </div>
    <div class="title-wrap">
      <div class="title ">
        <div class="til">海外科研</div>
        <div class="text">Lorem ipsum dolor amet</div>
        <span class="l-icon"></span>
        <span class="r-icon"></span>
      </div>
      <div class="tip">
        跟随世界名校教授进行学术课题研究，塑造个人独特的科研风格，培养批判性思维、分析和创造性思维、复杂沟通-口头和书面表达以及全球视野。在完成科研任务后，学生可以收获教授签字的学术推荐信、国际EI/CPCI检索收录的国际论文发表等多项成果，在收获知识的同时，还能大幅度提高名校升学几率，并于成为国际水平高精尖领域人才和高水平人才更进一步。
      </div>
    </div>
  </div>
  <div class="item-list">
    <div class="item clearfix">
      <div class="left float-left">
        <img class="item-img" src="../../dist/img/product/pic_01.png" alt="">
      </div>
      <div class="right float-right">
        <div class="text">
          <div class="t-til">多元化的知识能力储备</div>
          <div class="t-cont">
            未来无论你是科学进步的推动者还是先进技术的开发者，都离不开多元化的知识能力储备。圣知教育致力于为具有国际视野的青少年提供与顶尖学术大师面对面学习的机会，展开多层次、宽领域的教育合作，通过导师制小班科研让你从零到无穷的全面发展。
          </div>
        </div>
      </div>
    </div>
    <div class="item clearfix">
      <div class="left float-left">
        <div class="text">
          <div class="t-til">不断提升国际竞争力</div>
          <div class="t-cont">
            走进世界名校教授的学术课题组，与学术大师交流碰撞，从中获得全面发展的语言提升，得心应手的沟通能力，独特创新的思维方式，助力你成为一个具有国际视野不断提升国际竞争力的国际化人才。
          </div>
        </div>
      </div>
      <div class="right float-right">
        <img class="item-img" src="../../dist/img/product/pic_02.png" alt="">
      </div>
    </div>
  </div>
  <div class="characteristic">
    <div class="container">
      <div class="title">
        <div class="text">项目特色</div>
        <div class="tip">Characteristics</div>
      </div>
      <ul class="list clearfix">
        <li>
          <img class="bg-img" src="../../dist/img/product/character_01.png" alt="">
          <div class="text">导师均为海外名校现职教授和终身教授，具有丰富的学术和科研经验，
            教授将根据中国学生特点设计课题，学术性与趣味性兼备，让学生在学术框架下，充分发挥想象力和创造力，
            从开题、文献检索、可研报告撰写、修改等多个环节进行学习，实现理论与实践的融会贯通。</div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product/character_02.png" alt="">
          <div class="text">
            助教将经过严格筛选，择优录取相关专业Master/PhD，并通过系统化培训及考核后进入科研项目组。
            助教将协助学生进行课题知识的预习和复习，并提供辅助性指导和技术支持。此外，助教将与学生分享自身升学、海外学习和科研等经验，更加贴近学生实际情况地提供指导建议。
          </div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product/character_03.png" alt="">
          <div class="text">
            线上科研的Mentor将配合教授的科研课题，带领小组成员以Team Leader
            的身份选定Project主题并督导
            完成调研、讨论、presentation和科研报告。Mentor制，
            力求为参与远程项目的同学们加强小组讨论性和团队合作。
          </div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product/character_04.png" alt="">
          <div class="text">
            通过系统性的科研学习，在提高学科能力和培养学术素养的同时，
            提升学生的国际化视野和自主创新能力。在完成科研任务后，学生可收货教授签字的课程证明、个人研究报告/学习计划、教授出具的学术推荐信、志愿者证书、国际SCI/EI/CPCI论文发表、发明专利等多项成果。
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="professor">
    <div class="container">
      <div class="title">
        <div class="text">师资团队</div>
        <div class="tip">Professor</div>
      </div>
      <ul class="pro-list clearfix">
        <li><a href="../professorDetail/professorDetail.html">
          <div class="avatar">
            <img class="img" src="../../dist/img/professor/professor_01_gray.png" alt="">
            <img class="hover-img" src="../../dist/img/professor/professor_01_white.png" alt="">
          </div>
          <div class="name">Prof. Howard</div>
          <div class="school">南加州大学电影艺术学院</div>
          <div class="post">终身教授、前院长</div>
          <div class="info">
            南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
          </div>
        </a></li>
        <li><a href="../professorDetail/professorDetail.html">
          <div class="avatar">
            <img class="img" src="../../dist/img/professor/professor_02_gray.png" alt="">
            <img class="hover-img" src="../../dist/img/professor/professor_02_white.png" alt="">
          </div>
          <div class="name">Prof. Coggesshall</div>
          <div class="school">南加大马歇尔商学院</div>
          <div class="post">客座教授</div>
          <div class="info">
            南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
          </div>
        </a></li>
        <li><a href="../professorDetail/professorDetail.html">
          <div class="avatar">
            <img class="img" src="../../dist/img/professor/professor_03_gray.png" alt="">
            <img class="hover-img" src="../../dist/img/professor/professor_03_white.png" alt="">
          </div>
          <div class="name">Prof. Benjamin Hirt</div>
          <div class="school">哥伦比亚大学新闻学院</div>
          <div class="post">教授</div>
          <div class="info">
            南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
          </div>
        </a></li>
        <li><a href="../professorDetail/professorDetail.html">
          <div class="avatar">
            <img class="img" src="../../dist/img/professor/professor_04_gray.png" alt="">
            <img class="hover-img" src="../../dist/img/professor/professor_04_white.png" alt="">
          </div>
          <div class="name">Prof. Chalew</div>
          <div class="school">约翰霍普金斯大学</div>
          <div class="post">教授</div>
          <div class="info">
            南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
          </div>
        </a></li>
        <li><a href="../professorDetail/professorDetail.html">
          <div class="avatar">
            <img class="img" src="../../dist/img/professor/professor_05_gray.png" alt="">
            <img class="hover-img" src="../../dist/img/professor/professor_05_white.png" alt="">
          </div>
          <div class="name">Prof. Steen</div>
          <div class="school">加州大学洛杉矶分校</div>
          <div class="post">教授</div>
          <div class="info">
            南加大剧本创作研究生项目创办人国际知名编剧<br/>荣获艾美奖、柏林电影节蓝熊奖、墨西哥银色女神奖、柏林电影节蓝熊奖
          </div>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="professor-more">
    <div class="container clearfix">
      <span class="text">圣知学院目前已与多所院校多个教授展开深度合作关系！</span>
      <a href="../professor/professor.html" class="more-btn float-right">查看更多</a>
    </div>
  </div>
  <div class="cooperate">
    <div class="container">
      <div class="title">
        <div class="text">合作院校</div>
        <div class="tip">PARTNERS</div>
      </div>
      <div class="list clearfix">
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_01.png" alt="">
        </div>
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_02.png" alt="">
        </div>
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_03.png" alt="">
        </div>
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_04.png" alt="">
        </div>
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_05.png" alt="">
        </div>
        <div class="item float-left">
          <img class="img" src="../../dist/img/about/partner_06.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="partners">
    <div class="container">
      <div class="title">
        <div class="text">成果收获</div>
        <div class="tip">PARTNERS</div>
      </div>
      <ul class="list clearfix">
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>面试指导</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>教授签字</div>
            <div>结业证书</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>教授签字项</div>
            <div>目推荐信</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>世界500强实习实训</div>
            <div>和联合国实习实训</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>国际CPCI/EI会议</div>
            <div>论文辅导及发表</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>志愿者证书</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>个人科研报告</div>
          </div>
        </li>
        <li class="float-left">
          <img class="float-left icon-img" src="../../dist/img/product/icon.png" alt="">
          <div class="float-left text">
            <div>教授私人推荐信(edu</div>
            <div>官方邮箱网推）</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="more-info ">
    <div class="container clearfix">
      <div class="float-left">
        <div class="til">欢迎免费获取更多信息</div>
        <div class="tip">丰富自身科研活动经历和深度体验，学生可根据实际<br>需求，自主选择是否需要推荐信。</div>
      </div>
      <div class="float-right">
        <a class="opts-btn" href="javascript:void(0);">深入了解更多信息</a>
        <a class="opts-btn" href="javascript:void(0);">010-666-8888</a>
      </div>
    </div>
  </div>
</div>
  


<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<!-- footer end -->
<script src="../../dist/js/product/product.min.js"></script>
</body>
</html>