<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/about/about.min.css">
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育1</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="/">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="/">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link active" href="../about/about.html">关于圣知</a></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="container">
  <div class="til-wrap">
    <div class="title ">
      <div class="til">圣知教育</div>
      <div class="text">Sage Education</div>
      <span class="l-icon"></span>
      <span class="r-icon"></span>
    </div>
    <div class="tip">
      圣知教育是一家从事学术提升的科技教育公司，将世界一流教育资源引进来<br/>
      同时把中华优秀文化推出去。以线下面授和线上授课的方式为海内外的高校和科研机构搭建学术交流以及合作的平台。让先进的<br/>
      教育理念和学术前沿知识走进中国，与国内外顶尖学者进行学术交流以及合作，使中国学子的学术背景得到提升。
    </div>
  </div>
</div>
<div class="about-item">
  <div class="item clearfix">
    <div class="left float-left">
      <div class="cont float-right">
        <div class="text">
          论语：圣知教育<br>
          是一家从事学术提升的科技教育公司，方式为海内<br>
          外的高校和科研机构搭建学术交流以及合作的平台
        </div>
      </div>
    </div>
    <div class="right float-right">
      <div class="cont">
        <img class="img" src="../../dist/img/about/pic_01.png" alt="">
      </div>
    </div>
  </div>
  <div class="item clearfix">
    <div class="left float-left">
      <div class="cont float-right">
        <img class="img" src="../../dist/img/about/pic_02.png" alt="">
      </div>
    </div>
    <div class="right float-right">
      <div class="cont">
        <div class="text">
          愿景：让学术人才走向世界，传播中华文化<br>
          使命：助力中国学术成为国际化领跑者<br>
          核心价值观：学术创新 成就人才 国际发声<br>
          口号：期待更优秀的你<br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="cooperate">
    <div class="title">
      <div class="til-text">合作院校</div>
      <div class="til-tip">PARTNERS</div>
    </div>
    <div class="list clearfix">
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_01.png" alt="">
      </div>
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_02.png" alt="">
      </div>
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_03.png" alt="">
      </div>
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_04.png" alt="">
      </div>
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_05.png" alt="">
      </div>
      <div class="item float-left">
        <img class="img" src="../../dist/img/about/partner_06.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="title">How To Contact Us</div>
    <div class="cont clearfix">
      <div class="item float-left">
        <div class="til">Address</div>
        <div class="info">
          <div>北京市海淀区富海大厦501室</div>
        </div>
      </div>
      <div class="item float-left">
        <div class="til">Phone Number</div>
        <div class="info">
          <div>668-819-7070</div>
          <div>900-594-0128</div>
        </div>
      </div>
      <div class="item float-left">
        <div class="til">E-mail</div>
        <div class="info">
          <div>info@sagedu.com</div>
          <div>public@sagedu.com</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<!-- footer end -->
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<img src="../../dist/img/home/img/qr_code.png" alt="">
<script src="../../dist/js/home/about.min.js"></script>
</body>
</html>