<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/news/news.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育1</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="/">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="/">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link active" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
    </ul>
  </div>
</div>
<!-- header end -->

<div class="news-wrap">
  <div class="container">
    <div class="news-tab">
      <span class="active">科研</span>
      <span>游学</span>
      <span>成果</span>
      <span>广告</span>
    </div>
    <ul class="news-list clearfix">
      <li class="float-left">
        <a href="">
          <div class="img-wrap video">
            <img class="img" src="../../dist/img/news/new_1.png" alt="">
            <img class="icon-img" src="../../dist/img/news/news_icon_bt.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
      <li class="float-left">
        <a href="">
          <div class="img-wrap video">
            <img class="img" src="../../dist/img/news/new_2.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
      <li class="float-left">
        <a href="">
          <div class="img-wrap ">
            <img class="img" src="../../dist/img/news/new_3.png" alt="">
            <img class="icon-img" src="../../dist/img/news/news_icon_bt.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
      <li class="float-left">
        <a href="">
          <div class="img-wrap video">
            <img class="img" src="../../dist/img/news/new_1.png" alt="">
            <img class="icon-img" src="../../dist/img/news/news_icon_bt.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
      <li class="float-left">
        <a href="">
          <div class="img-wrap video">
            <img class="img" src="../../dist/img/news/new_2.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
      <li class="float-left">
        <a href="">
          <div class="img-wrap">
            <img class="img" src="../../dist/img/news/new_3.png" alt="">
            <img class="icon-img" src="../../dist/img/news/news_icon_bt.png" alt="">
          </div>
          <div class="info">
            <span>Jan  01 2019</span>
            <span>留学攻略</span>
          </div>
          <div class="title">
            科研学术项目实习机会科研学术项目实习机会习机会科研学术项目实习机会习机会科研学术项目实习机会
          </div>
        </a>
      </li>
    </ul>
    <div class="page-wrap">
     这里是分页
    </div>
  </div>
</div>



<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<!-- footer end -->
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<img src="../../dist/img/home/img/qr_code.png" alt="">
<script src="../../dist/js/news/news.min.js"></script>
</body>
</html>