<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/newsDetail/newsDetail.min.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      <img class="brand-logo-blue" src="../../dist/img/logo_blue.png" alt="">
      <!-- <p class="brand-name">圣知教育</p> -->
      <!-- <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label> -->
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link active" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="new-detail">
  <div class="container">

    <div class="my-breadcrumb">
      <a href="../home/home.html"><span class="iconfont">&#xe633;</span>首页<span class="iconfont">&#xe720;</span></a>
      <a class="active" href="../news/news.html">新闻动态<span class="iconfont">&#xe720;</span></a>
    </div>
    
    <div class="title clearfix">
      <div class="text float-left">科研学术项目实习机会科研学术项目实习机会</div>
      <a class="return-btn float-right" href="../news/news.html"><span class="iconfont">&#xe642;</span><span class="txt">返回</span></a>
    </div>
    <div class="cont">
      <img class="til-img" src="../../dist/img/banner.png" alt="">
      <div class="text">这几天，曾经的高考红人、“诗词才女”武亦姝再次登上了热搜。教育部官方曾专门撰文为她点赞，清华大学校长在开学典礼上点名表扬她。现在她写的一篇军训总结被《国防时报》收录，这开挂的人生简直令人羡慕，难道真的靠背诗就能考上清华大学？难道正如别人说现在的高考是拼父母。其实不然，看看武亦姝的父母，为了给孩子营造有一个良好的学习环境，她父亲平时在孩子面前不玩手机，每天下午5点钟手机关机和孩子一起阅读学习，这种自律能力对很多低头族来说是何等的难事啊。</div>
      
      <div class="til">科研学术项目实习机会科研学术项目实习机会</div>
      <ul>
        <li>时间就是金钱。如果我们不自律，时间很难掌控，很容易浪费时间影响目标的完成，进而影响我们整个的目标</li>
        <li>严格要求自己利用好自己的时间</li>
        <li>比如熬夜，长时间的玩游戏或看电视，暴饮暴食等等，要保持自律，这些坏习惯和喜好，该放下的还是要放下，只有懂得拒绝，才会有更多好的收获</li>
      </ul>

      <div class="til">那自律跟留学有什么关系呢？</div>
      <ul>
        <li>保持积极乐观的心态</li>
        <li>分解目标及注意力</li>
        <li>制定详细的计划和安排</li>
        <li>严格要求自己利用好自己的时间</li>
        <li>时间就是金钱。如果我们不自律，时间很难掌控，很容易浪费时间影响目标的完成，进而影响我们整个的目标</li>
        <li>严格要求自己利用好自己的时间</li>
        <li>比如熬夜，长时间的玩游戏或看电视，暴饮暴食等等，要保持自律，这些坏习惯和喜好，该放下的还是要放下，只有懂得拒绝，才会有更多好的收获。</li>
      </ul>
    </div>
    <div class="opts clearfix">
      <a class="btn float-left" href="">&lt;  上一篇：那自律跟留学有什么关系呢？</a>
      <a class="btn float-right" href="">下一篇：科研学术项目实习机会科研学术项目实习机会  &gt;</a>
    </div>
  </div>
</div>

<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<!-- footer end -->
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<script src="../../dist/js/newsDetail/newsDetail.min.js"></script>
</body>
</html>