<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/product5/product5.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      <img class="brand-logo-blue" src="../../dist/img/logo_blue.png" alt="">
      <!-- <p class="brand-name">圣知教育</p> -->
      <!-- <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label> -->
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link active" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="pro-wrap">
  <div class="container">
    <div class="title-nav">
      <a class="" href="../product/product.html">项目介绍</a>
      <a class="" href="../product2/product2.html">活动目的</a>
      <a class="" href="../product3/product3.html">活动特色</a>
      <a class="" href="../product4/product4.html">活动地点</a>
      <a class="active" href="../product5/product5.html">服务标准</a>
      <a class="" href="javascript:void(0);">在线预约</a>
    </div>
    <div class="title-wrap">
      <div class="title ">
        <div class="til">海外科研</div>
        <div class="text">Lorem ipsum dolor amet</div>
        <span class="l-icon"></span>
        <span class="r-icon"></span>
      </div>
      <div class="tip">
        跟随世界名校教授进行学术课题研究，塑造个人独特的科研风格，培养批判性思维、分析和创造性思维、复杂沟通-口头和书面表达以及全球视野。在完成科研任务后，学生可以收获教授签字的学术推荐信、国际EI/CPCI检索收录的国际论文发表等多项成果，在收获知识的同时，还能大幅度提高名校升学几率，并于成为国际水平高精尖领域人才和高水平人才更进一步。
      </div>
    </div>
  </div>
  <div class="item-list">
    <div class="item clearfix">
      <div class="left float-left">
        <div class="text">
          <div class="t-til">项目价值</div>
          <div class="t-cont">
            对未来大学专业选择、职业规划更清晰的观点与见解
          </div>
        </div>
      </div>
      <div class="right float-right">
        <img class="item-img" src="../../dist/img/product5/pic_01.png" alt="">
      </div>
    </div>
    <div class="item clearfix">
      <div class="left float-left">
        <img class="item-img" src="../../dist/img/product5/pic_02.png" alt="">
      </div>
      <div class="right float-right">
        <div class="text">
          <div class="t-til">FBLA专业体系</div>
          <div class="t-cont">
            美国高中阶段最为专业和完备的学术体系和项目设置
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fbla">
    <div class="container">
      <div class="title-wrap">
        <div class="title ">
          <div class="til">FBLA·中国</div>
          <div class="text">About FBLA China</div>
        </div>
        <div class="tip">
          FBLA China 自 2016 年开始举办 FBLA 中国区相关竞赛及教学活动，形成了独有 的教研教学体系，帮助全国近百所学校建立并运营 FBLA 项目，获得了学生与家长的良好 口碑，且有很大比例的学生重复参赛。学生通过参考指南、微信小程序等工具进行学习， 在 FBLA China 的教学及训练下不断突破自我、取得优异成绩。
        </div>
      </div>
    </div>
  </div>
  <div class="questions">
    <div class="container">
      <div class="title">
        <div class="text">常见问题</div>
        <div class="tip">Questions</div>
      </div>
      <div class="list clearfix">
        <div class="float-left">为什么开展 FBLA？</div>
        <div class="float-left">参加FBLA有什么帮助？</div>
        <div class="float-left">如何理解FBLA的权威性？</div>
        <div class="float-left">考试初赛证书颁发日期？</div>
      </div>
      <div class="cont-text">
        <img class="left-icon" src="../../dist/img/product5/Icon_left.png" alt="">
        <img class="right-icon" src="../../dist/img/product5/Icon_right.png" alt="">
        FBLA有利于激发学生自主学习的动力，有助于学生发掘
        领导力并逐渐形成领袖意识。学生通过对商业的了解逐步形成对未来大学专业选择、职业规划更清晰的观点
        与见解。
      </div>
      <div class="opts">
        <a class="opts-btn" href="javascript:void(0);"><span>Read more</span><span class="iconfont">&#xe720;</span></a>
      </div>
    </div>
  </div>
  <div class="more-info ">
    <div class="container clearfix">
      <div class="float-left">
        <div class="til">欢迎免费获取更多信息</div>
        <div class="tip">丰富自身科研活动经历和深度体验，学生可根据实际<br>需求，自主选择是否需要推荐信。</div>
      </div>
      <div class="float-right">
        <a class="opts-btn" href="javascript:void(0);">深入了解更多信息</a>
        <a class="opts-btn" href="javascript:void(0);">010-666-8888</a>
      </div>
    </div>
  </div>
</div>



<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <img class="brand-logo" src="../../dist/img/logo.png" alt="">
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<!-- footer end -->
<script src="../../dist/js/product5/product5.min.js"></script>
</body>
</html>