<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>圣知教育</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1467041_aikpxg6b4jn.css">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="../../dist/css/product4/product4.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../dist/js/common.min.js"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="container">
    <a class="brand" href="/">
      <p class="brand-name">圣知教育</p>
      <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
    </a>

    <ul class="menu">
      <li class="menu-item"><a class="menu-link" href="../home/home.html">首页</a></li>
      <li class="menu-item"><a class="menu-link active" href="../product/product.html">项目简介</a></li>
      <li class="menu-item"><a class="menu-link" href="../professor/professor.html">教授阵容</a></li>
      <li class="menu-item"><a class="menu-link" href="../news/news.html">新闻动态</a></li>
      <li class="menu-item"><a class="menu-link" href="../about/about.html">关于圣知</a></li>
      <li class="bottomLine"></li>
    </ul>
  </div>
</div>
<!-- header end -->


<div class="banner">
  <img src="../../dist/img/banner.png" alt="">
</div>

<div class="pro-wrap">
  <div class="container">
    <div class="title-nav">
      <a class="" href="../product/product.html">项目介绍</a>
      <a class="" href="../product2/product2.html">活动目的</a>
      <a class="" href="../product3/product3.html">活动特色</a>
      <a class="active" href="../product4/product4.html">活动地点</a>
      <a class="" href="../product5/product5.html">服务标准</a>
      <a class="" href="javascript:void(0);">在线预约</a>
    </div>
    <div class="title-wrap">
      <div class="title ">
        <div class="til">北京六日十校研学游</div>
        <div class="text">Lorem ipsum dolor amet</div>
        <span class="l-icon"></span>
        <span class="r-icon"></span>
      </div>
      <div class="tip">
        零距离感受高等学府的文化底蕴，体会顶尖学者的风采并聆听殷切教诲。与高考状元与青年学者交流学习经验，促进自我提升与升华。让前进的路上，有方向，有方法，成为更优秀的自己。
      </div>
    </div>
  </div>
  <div class="item-list">
    <div class="container">
      <div class="item clearfix">
        <div class="left float-left">
          <div class="text">
            <div class="t-cont">
              浅尝大学生活<br>
              交流大学经验  促进自我成长
            </div>
          </div>
        </div>
        <div class="right float-right">
          <img class="item-img" src="../../dist/img/product4/pic_01.png" alt="">
        </div>
      </div>
      <div class="item clearfix">
        <div class="left float-left">
          <img class="item-img" src="../../dist/img/product4/pic_02.png" alt="">
        </div>
        <div class="right float-right">
          <div class="text">
            <div class="t-cont">
              感受文化熏陶<br>
              聆听知识讲座  感悟教育智慧
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="characteristic">
    <div class="container">
      <div class="title">
        <div class="text">项目特色</div>
        <div class="tip">Characteristics</div>
      </div>
      <ul class="list clearfix">
        <li>
          <img class="bg-img" src="../../dist/img/product4/character_01.png" alt="">
          <div class="til">浓厚的学术氛围、鲜明的学术主题</div>
          <div class="text">
            六天带你走遍北京顶尖十所高校，清华、北大、人大、北理、北航、北电、北师、北交。</div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product4/character_02.png" alt="">
          <div class="til">顶尖学术大牛带你敲开学术的大门</div>
          <div class="text">
            十位顶尖教授学者，亲身介绍，为你揭秘大学的不同专业。
            十数位博士青年学者，
            倾情讲解各自研究领域的发展
            与前景。
          </div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product4/character_03.png" alt="">
          <div class="til">高考状元面对面</div>
          <div class="text">
            与来自全国各地的高考状元
            面对面交流互动，
            传授学习经验。
          </div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product4/character_04.png" alt="">
          <div class="til">青年学者在身边</div>
          <div class="text">
            领略新时代青年学者的风采，来自清华、北大、人大、
            中科院等知名顶尖高校和研究机构的博士学者为你揭开学术的神秘面纱，讲述学术界的
            奇闻轶事。
          </div>
        </li>
        <li>
          <img class="bg-img" src="../../dist/img/product4/character_05.png" alt="">
          <div class="til">丰富的活动内容</div>
          <div class="text">
            参加天安门升旗仪式，参观毛主席纪念堂、人民大会堂，领略国旗护卫队风采，参观中国科学技术馆、中央电视台、国家大剧院，带你玩转北京。
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="activity">
    <div class="container">
      <div class="title">
        <div class="text">活动地点</div>
        <div class="tip">Characteristics</div>
      </div>
      <img class="cont-img" src="../../dist/img/product4/place.png" alt="">
    </div>
  </div>
  <div class="service">
    <div class="container">
      <div class="title">
        <div class="text">服务标准</div>
        <div class="tip">Service Standard</div>
      </div>
      <ul class="list clearfix">
        <li class="float-left">
          <div class="top-img"></div>
          <div class="text">营养盘餐，早中晚三餐，保证每位小营员饮食的营养与卫生</div>
        </li>
        <li class="float-left">
          <div class="top-img"></div>
          <div class="text">友谊宾馆（5星级）</div>
        </li>
        <li class="float-left">
          <div class="top-img"></div>
          <div class="text">专车接送，驾龄10年以上经验丰富的老司机全程护送</div>
        </li>
        <li class="float-left">
          <div class="top-img"></div>
          <div class="text">专业医护人员，提供全程医务跟踪服务；选择就近医生作为突发事件的帮助医院</div>
        </li>
        <li class="float-left">
          <div class="top-img"></div>
          <div class="text">研学活动中，我们将为每位营员购买100000元意外伤害保险（保监会最高保额）。</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="more-info ">
    <div class="container clearfix">
      <div class="float-left">
        <div class="til">欢迎免费获取更多信息</div>
        <div class="tip">丰富自身科研活动经历和深度体验，学生可根据实际<br>需求，自主选择是否需要推荐信。</div>
      </div>
      <div class="float-right">
        <a class="opts-btn" href="javascript:void(0);">深入了解更多信息</a>
        <a class="opts-btn" href="javascript:void(0);">010-666-8888</a>
      </div>
    </div>
  </div>

</div>




<!-- footer begin -->
<div class="footer">
  <div class="container">
    <div class="footer-brand">
      <a class="brand" href="/">
        <p class="brand-name">圣知教育</p>
        <label class="brand-name-en">Sage&nbsp;&nbsp;&nbsp;Education</label>
      </a>
    </div>
    <div class="clearfix">
      <div class="footer-qrcode">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>关注圣知教育微信公众号</p>
      </div>
      <div class="sign-info">
        <span class="sign-info-title">报名咨询</span>
        <input type="text" placeholder="姓名">
        <input type="text" placeholder="手机">
        <input type="text" placeholder="学校">
        <input type="text" placeholder="年级">
        <button type="button" class="button">电话咨询</button>
      </div>
      <div class="footer-qrcode-contact">
        <img src="../../dist/img/qr_code.png" alt="">
        <p>识别二维码可直接联系顾问</p>
      </div>
      <div class="footer-contact">
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <p>010-666-8888</p>
        <button type="button" class="button">电话咨询</button>
      </div>
    </div>
    <ul class="company-info">
      <li>
        <img src="../../dist/img/location.png" alt="">
        <span>北京市海淀区富海大厦501室</span>
      </li>
      <li class="text-center">
        <img src="../../dist/img/call.png" alt="">
        <span>010-666-8888</span>
      </li>
      <li class="text-right">
        <img src="../../dist/img/email.png" alt="">
        <span>info@sagedu.com</span>
      </li>
    </ul>
  </div>
</div>
<div class="beian">© 北京圣知教育有限公司 2019 All rights reserved</div>
<!-- footer end -->
<script src="../../dist/js/product4/product4.min.js"></script>
</body>
</html>